<div class="navbar">
    <img class="logo-img" src="{{ url_for('static', filename='images/default_logo.png') }}" />
    <span class="hamburger">&#9776;</span> <!-- Hamburger Icon -->
    <div class="navbar-right" id="navbarRight">
        <span class="closebtn">&times;</span>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="#contact">Contact</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('payment') }}">Payment</a>
        <a id="sign-out-btn" href="{{ url_for('logout') }}">Logout</a>
    </div>
</div>
